body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.center {
    text-align: center;
}
.header {
    padding-bottom: 214px;
    background-image: url(../img/bg.png);
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    align-items: center;
}
.info-item,
.info-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.info-link:hover {
    color: #30a3f0;
}
.info-left .info-item {
    margin-right: 32px;
}
.info-right .info-item {
    margin-left: 6px;
}
.info-link {
    text-decoration: none;
}
.register::before {
    content: '/';
    margin-right: 6px;
}
.info-link svg {
    color: #30a3f0;
    margin-right: 11px;
}
.nav-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}
.nav-btn svg {
    color: #444444;
}
.head {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 25px;
    margin-bottom: 220px;
}
.logo {
    width: 158px;
}
.nav {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    
}
.nav-link {
    color: #444444;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 11px 19px 12px;
}
.nav-link.active {
    color: #30a3f0;
    border: 1px solid #30a3f0;
    padding: 11px 19px 12px;
    border-radius: 5px;
    }
.nav-item {
    margin-left: 8px;
}
.nav-item-btn {
    margin-left: 21px;
}
.nav-link:hover {
    color: #30a3f0;
}
.title {
    margin-bottom: 40px;
}

.title p {
    font-family: 'Raleway', sans-serif;
    color: #30a3f0;
    font-size: 18px;
}
.title h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 60px;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    max-width: 720px;
    margin: 0 auto;
    text-transform: uppercase;
}
.element {
    width: 1px;
    height: 100px;
    background-color: #2987c7;
    margin: 0 auto;
}
.element-top {
    margin-bottom: 29px;
}
.element-bottom {
    margin-top: 32px;
}
.btn {
    color: #30a3f0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #30a3f0;
    padding: 20px 42px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #30a3f0;
    color: #fff;
}
.page-line {
    border-bottom: 1px solid #e4e4e4;
}
.page-gray {
    background-color: #fafafa;
    padding-top: 100px;
    padding-bottom: 62px;
}
.box {
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-item {
    flex-basis: 33.333%;
    padding: 93px 60px 110px;
}
.box-icon {
    width: 152px;
    height: 152px;
    font-size: 40px;
    line-height: 3.5;
    color: #222222;
    background-image: url(../img/bg-gray.png);
    margin: 0 auto 26px;
    background-position: center center;
}
.box-icon-pen {
    font-size: 30px;
    line-height: 4.8;
}
.box-item:hover .box-icon {
    background-image: url(../img/bg-blue.png);
    color: #fff;
}
.box-item-center {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 27px;
}
.title-h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.title-h2 span {
    color: #30a3f0;
    font-size: 16px;
    display: block;
    font-weight: 400;
    text-transform: initial;
    margin-bottom: 18px;
}
.line {
    display: block;
    width: 53px;
    height: 14px;
    background-image: url(../img/line.svg); 
    background-repeat: no-repeat;
}
.line-center {
    display: block;
    width: 90px;
    height: 16px;
    background-image: url(../img/line1.png); 
    background-repeat: no-repeat;
    margin: 0 auto 30px;
}
.description {
    color: #707070;
    line-height: 26px;
}
.page-gray .description {
    max-width: 690px;
    margin: 0 auto;
}
.background {
    padding-bottom: 111px;
    padding-top: 108px;
    background-image: url(../img/bg2.png);

}
.list-description {
    color: #222222;
    padding-left: 0;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 60px;
}
.list-description > li {
    margin-bottom: 27px;
    color: #222222;
    padding-left: 37px;
    position: relative;
}
.list-description > li::before {
    content:'';
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
}
.page-mockup {
    margin-top: 100px;
    padding-bottom: 100px;
}
.mockup {
    display: block;
    width: 625px;
    height: 557px;
    background-image: url(../img/mockup.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -78px;
    bottom: 0;
}
.btn-blue {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    height: 50px;
    width: 169px;
    background-color: #30a3f0;
    border: 3px solid #30a3f0;
    border-radius: 5px;
    padding: 20px 40px;
}
.btn-blue:hover {
    background-color: transparent;
    color: black;
}
.box-text {
    max-width: 537px;
}
.page .description {
    max-width: 690px;
    margin: 0 auto;
}
.photo {
    display: flex;
}
.photo-item {
    overflow: hidden;
    flex-basis: 20%;
    height: 350px;
    position: relative;
}
.photo-item img {
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    object-fit: cover;
    transform: translate(-50%, -50%);
    height: 350px;
    z-index: -1;
}
.photo-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(50% - 30px);
    display: none;
}
.photo-text h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-top: 0;
}
.photo-text p {
    color: #707070;
    margin-bottom: 0;
}
.photo-item:hover {
    background-color: rgba(34,34,34,0.8);
}
.photo-item:hover .photo-text{
    display: block;
}
.photo-btn {
    width: 60px;
    height: 60px;
    line-height: 4.5;
    background-color: #fff;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.photo-btn-item {
    color: black;
}
.photo-btn:hover {
    background-color: #30a3f0;
}
.photo-btn:hover .photo-btn-item {
    color: white;
}
.photo-item:hover .photo-btn {
    display: block;
}
.search {
    position: absolute;
    right: 60px;
    bottom: 0;
    display: none;
}
.grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 70px 50px;
    margin-top: 121px;
    margin-bottom: 126px;
}
.grid .description {
    margin-bottom: 0;
}
.grid h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
} 
.grid-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-icon-min {
    font-size: 24px;
    width: 96px;
    height: 96px;
    background-size: 96px 96px;
    flex-basis: 96px;
    text-align: center;
    line-height: 3.8;
    margin: initial;
    color: #c9c9c9;
}
.grid-line-text {
    flex-basis: calc(100% - 126px);
}
.grid-line:hover .box-icon-min {
    background-image: url(../img/bg-blue-1.png);
    color: #fff;
}